.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    >div {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    & .head p{
        font-weight: 700;
    }
}
.data > div >div , .head>div{
    border: 1px solid rgba(0,0,0,0.2);
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* overflow: hidden; */
    >p{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}